<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="userantwort">
            <h2><span >Userantwort</span> {{ userantwort.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User</span></dt>
                <dd>
                    <span>{{ userantwort.user }}</span>
                </dd>
                <dt><span >Umfrage</span></dt>
                <dd>
                    <div *ngIf="userantwort.umfrage">
                        <a [routerLink]="['/umfrage', userantwort.umfrage?.id, 'view']">{{ userantwort.umfrage?.id }}</a>
                    </div>
                </dd>
                <dt><span>Antwort</span></dt>
                <dd>
                    <div *ngIf="userantwort.antwort">
                        <a [routerLink]="['/antwort', userantwort.antwort?.id, 'view']">{{ userantwort.antwort?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span >Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/userantwort', userantwort.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
