<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="umfrage">
            <h2><span >{{ umfrage.name }}</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jpollApp.umfrage.name">Name</span></dt>
                <dd>
                    <span>{{ umfrage.name }}</span>
                </dd>
                <dt><span jhiTranslate="jpollApp.umfrage.text">Text</span></dt>
                <dd>
                    <span>{{ umfrage.text }}</span>
                </dd>
                <dt><span jhiTranslate="jpollApp.umfrage.status">Status</span></dt>
                <dd>
                    <span>{{ umfrage.status }}</span>
                </dd>
                <dt><span>Abstimmen</span></dt>
                <dd>
                    <div *ngFor="let antwort of antworts" >
                        
                            <label for="{{antwort.text}}" *ngIf="antwort.umfrage?.id ===umfrage.id">
                                <input [value]='antwort.text' type="radio" name="antworts">
                                {{antwort.text}}
                            </label>
                    </div>
                    

                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'" 
                    [routerLink]="['/umfrage', umfrage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>

            <button type="submit"
                    class="btn btn-primary">
                <fa-icon icon="arrow-right"></fa-icon>&nbsp;<span>Confirm</span>
            </button>
        </div>
    </div>
</div>
